// Body
$body-bg: #F3F3F9;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #405189;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #F06548;
$orange: #f6993f;
$yellow: #F7B84B;
$green: #0AB39C;
$teal: #4dc0b5;
$cyan: #299CDB;
